# {
    margin: 0;
    border: 0;
}

body {
    background: cornflowerblue;
}

.container {
    background: crimson;
    width: 30rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




